doctype html 
html 
    head
        title #{title}
        block css
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        block script
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    body 
        nav(class="navbar navbar-expand-sm bg-light")
            ul(class="navbar-nav")
                li(class="nav-item")
                    button(class="btn btn-info nav-item") Home
                li(class="nav-item")
                    button(class="btn btn-primary nav-item") Post Video
                li(class="nav-item")
                    button(class="btn btn-danger nav-item") Sign Out

        div(class="container" id="dashboard")