doctype html
html 
    head
        title #{title}
        block css
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        
        block script
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    body
        div(class="container text-center")
            br
            h1 Welcome to Video Share!
            br
            div 
                h3 New here? Sign up for free below!
                a(type="button" href="http://localhost:3000/auth/register" class="btn btn-primary") Sign Up
            br 
            div 
                h3 Already have an account? Sign in here.
                a(type="button" href="http://localhost:3000/auth/login" class="btn btn-info") Sign In
